.fuente{
    display: flex;
    font-size: 2vh !important;
    width: 50%;
    justify-content: start;
    align-items: center;
    min-width: 1vh;
    height: 3vh;
}

.titulo{
    display: flex;
    width: 100%;
    min-width: 1vh;
    height: 3vh;
    font-size: 1.5vh;
    justify-content: center;
    align-items: center;
}

.sector{
    display: flex;
    width: 100%;
    min-width: 1vh;
    height: 3vh;
    justify-content: start;
    align-items: center;
}
.linea{
    display: flex;
    width: 100%;
    height: 2px;
    justify-content: start;
    background-color: black;
}

.imagen{
    cursor: pointer;
}

.inputs{
    display: flex;
    width: 65%;
    height: 3vh;
}

.botonGuardar{
    display: flex;
    width: 100%;
    height: 3vh;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
    cursor: pointer;
}

.botonGuardar:hover{
    background-color: rgb(192, 189, 189);
}

.espacioVacio{
    display: flex;
    width: 50%;
    min-width: 1vh;
    background-color: transparent;
    height: 3vh;
}

.espacioPequenio{
    display: flex;
    width: 10%;
    min-width: 1vh;
    background-color: transparent;
    height: 3vh;
}

.encabezado{
    margin-top: 5vh;
    border-style: 10px black solid;
}

.formulario{
    margin-top: 5vh;
}