<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<div class="cuerpo">
    <div class="paquete">

        <div class="portaFoto">
            <img class="foto" src="https://cdn-icons-png.flaticon.com/512/23/23159.png" alt="">
        </div>
        <div class="items">
            <div class="textos">
                <div class="col-12 item  bg-light text-dark">
                    <label class="col-12 ">Ingrese su usuario o Email</label>
                </div>
            </div>
            <div class="input-group mb-3 item entrada">
                <input type="text" ng-model="usuario.username" class="form-control" placeholder=""
                    aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </div>
        <div class="items">
            <div class="espaciado"></div>
            <div class="textos">
                <div class="col-12 item  bg-light text-dark">
                    <label class="col-12 ">Ingrese su contraseña</label>
                </div>
            </div>
            <div class="input-group mb-3 item entrada">
                <input type="password" ng-model="usuario.password" class="form-control" placeholder=""
                    aria-label="Example text with button addon" aria-describedby="button-addon1">
            </div>
        </div>
        <div class="registrase">
            <button type="button" ng-click="login()" class="btn btn-secondary boton">Iniciar Sesión</button>
        </div>
        <div class="espaciado"></div>
    </div>
</div>
<!--
<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>
<form class="form-horizontal">
    <fieldset>
        <div class="modal-body">

            <div class="form-group">
                <label class="col-md-4 control-label">Usuari@</label>
                <div class="col-md-8">
                    <input type="text" class="form-control"
                           placeholder="Nombre de usuari@" ng-model="usuario.username" required
                           autofocus>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Clave</label>
                <div class="col-md-8">
                    <input type="password" class="form-control" placeholder="Clave"
                           ng-model="usuario.password" required>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="submit" ng-click="login()">Ingresar</button>
        </div>
    </fieldset>
</form>
-->