.tabla{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 100%;
}


.encabezadoTabla{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
}


.filasTabla{
    display: flex;
    width: 100%;
    flex-direction: row;
    height: 100%;
}


.titulo{
    display: flex;
    width: 100%;
    min-width: 1vh;
    background-color: rgb(207, 206, 206);
    height: 3vh;
    border: black solid;
    border-width: 1px;
    font-size: 2vh;
    justify-content: center;
}

.celda{
    display: flex;
    width: 100%;
    min-width: 1vh;
    background-color: rgb(240, 239, 239);
    height: 3vh;
    border-left: black solid;
    border-right: black solid;
    border-width: 1px;
   justify-content: center;
}

.espacio{
    display: flex;
    width: 100%;
    min-width: 1vh;
    background-color: transparent;
    height: 3vh;
}

.imagen{
    cursor: pointer;
}